# Story Generator API
NEXT_PUBLIC_API_BASE_URL=https://engine-service.azurewebsites.net
NEXT_PUBLIC_NEWS_API_BASE_URL=https://engine-service.azurewebsites.net
NEXT_PUBLIC_CURIOUS_API_BASE_URL=https://curious-engine-service.azurewebsites.net
NEXT_PUBLIC_ENVIRONMENT=production
